<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        
        <div class="card">
            
            <div *ngIf="isFetching">
                <h5>Loading Details........</h5>
            </div>
            <div *ngIf="!isFetching">
              <div class="card-body d-flex flex-column">

                <h1>Profile Details</h1>
                
                <h5 class="card-title" style="padding-top: 10px;">First Name: </h5>
                <p>{{ selectedProfile?.firstName }}</p>
                <h5 class="card-text">Last Name: </h5>
                <p>{{ selectedProfile?.lastName }}</p>
                <h5 class="card-text">Email: </h5>
                <p>{{selectedProfile?.email }}</p>
                <h5 class="card-text">Date of birth:  </h5>
                <p>{{selectedProfile?.dateofbirth |date }}</p>
                <h5 class="card-text">Gender: </h5>
                <p>{{selectedProfile?.gender }}</p>
                
                <h5 class="card-text">Address: </h5>
                <p>House Number:
                    {{selectedProfile?.address.house_no }}
                </p>
                <p>State:
                    {{selectedProfile?.address.state }}
                </p>
                <p>City:
                    {{selectedProfile?.address.city }}
                </p>
                <p>Pincode:
                    {{selectedProfile?.address.pincode }}
                </p>
                  <h5>Previous Experiences:</h5>
                  <div *ngIf="selectedProfile?.experience">
                    <div *ngFor="let exp of selectedProfile?.experience; let i=index">
                      <h5 class="card-text">Experience {{i+1}}: </h5>
                      <p>Company Name: {{ exp.companyname }}</p>
                      <p>Position: {{ exp.position }}</p>
                      <p>Date of Joining: {{ exp.years.dateofjoining | date }}</p>
                      <p>Date of Resign: {{ exp.years.dateofresign | date}}</p>
                    </div>
                  </div>
                  <div *ngIf="!selectedProfile?.experience">
                    <p>No previous experience available.</p>
                  </div>
                
    
                <h5 class="card-text">Languages Known: </h5>
                <p>{{selectedLanguages}}</p>
                <div class="mt-auto">
                  <button class="btn btn-edit " (click)="viewEdit()"><i class="fa-solid fa-pen"></i>  Edit</button>
                  <button class="btn btn-back mx-3" routerLink="/Home"><i class="fa-solid fa-left-long"></i>  Back To All Profiles</button>
                </div>
              </div>
              
          </div>
          
        </div>
      </div>
    </div>
  </div>
  