<div class="container">
    <div class="row">
      <h1 class="heading" style="padding-top: 10px;">All Profiles</h1>
      <button class="btn btn-addnew" routerLink="/Registration"><i class="fa-solid fa-plus"></i>   New Registration Form</button>

      <div *ngIf="allProfiles.length<1&&!isFetching">
      <h5>No Profiles Available</h5>
      </div>

      <div *ngIf="isFetching">
        <h5>Loading........</h5>
        </div>
        

      <div *ngFor="let prof of allProfiles;index as i">
        <div class="form-group" style="padding-top: 20px;">
        <h5>{{i+1}}. </h5>

          <div class="form-control">
            
            <h6>  Fullname: </h6>
            <p>{{ prof.firstName }} {{prof.lastName}}</p>
            <h6> Gender:</h6>
            <p>   {{prof.gender}} </p>
            <h6> Date Of Birth:</h6>
            <p>   {{prof.dateofbirth | date}} </p>
            
            <button class="btn btn-delete" (click)="onDeleteProfile(prof.id)"><i class="fa-solid fa-trash-can"></i>  Delete</button>
            <!-- <button class="btn-edit" >Edit </button> -->
            <button class="btn btn-view" (click)="onViewProfile(prof.id)"><i class="fa-solid fa-eye"></i>  View</button>

            
          </div>
        </div>
      </div>


    </div>
  </div>
  